{
    "Database": {
        "Hostname": "localhost",
        "Schema": "comet.game",
        "Username": "root",
        "Password": "password"
    },
    "Network": {
        "IPAddress": "0.0.0.0",
        "Port": 5816,
        "MaxConn": 100
    },
    "Authentication": {
        "IPAddress": "127.0.0.1",
        "Port": 5817,
        "Key": "",
        "IV": ""
    }
}