{
    "Database": {
        "Hostname": "localhost",
        "Schema": "comet.game",
        "Username": "root",
        "Password": "password"
    },
    "GameNetwork": {
        "IPAddress": "0.0.0.0",
        "Port": 5816,
        "MaxConn": 100
    },
    "RpcNetwork": {
        "IPAddress": "0.0.0.0",
        "Port": 5817,
        "Key": "84C86CA01B757EAD43796A4B5B589B7C7C3D14FBB010809D",
        "IV": "8D437D941EB323FE55A64E7CC7D07B0E"
    }
}